/Users/riokumoshita/The-PoB-by-Unity/Assets/TextMesh[[:space:]]Pro/Fonts/JNRfont_s[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Users/riokumoshita/The-PoB-by-Unity/Assets/TextMesh[[:space:]]Pro/Fonts/JNRfont_s[[:space:]]SDF.asset.meta filter=lfs diff=lfs merge=lfs -text
/Users/riokumoshita/The-PoB-by-Unity/Assets/TextMesh[[:space:]]Pro/Fonts/JNRfont_s.ttf filter=lfs diff=lfs merge=lfs -text
